<div class="container-fluid">
  <div class="row" *ngIf="pedidos.length == 0; else pedidosList">
    <div class="col-md-12">
      <p>No hay pedidos por el momento!</p>
      <button type="button" class="btn btn-success" (click)="nuevoPedido()">Nuevo pedido</button>
    </div>
  </div>
  <ng-template #pedidosList>
    <div class="row">
      <div *ngFor="let pedido of pedidos" class="col-md-3 col-sm-6 col-xs-12">
        <div class="card" [ngClass]="{'border-warning ': pedido.llevar}">
          <div class="card-body">
            <h5 class="card-title" *ngIf="pedido.llevar; else pedidoNotLlevar">
              #{{pedido.codigo | number:'3.0-0'}} (Llevar)</h5>
            <ng-template #pedidoNotLlevar>
              <h5 class="card-title">#{{pedido.codigo | number:'3.0-0'}} ({{pedido.mesa_str}})</h5>
            </ng-template>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Estado: {{pedido.estado}}</li>
              <li class="list-group-item">Hora: {{ pedido.fecha | date :'shortTime'}}</li>
            </ul>

          </div>
          <div class="card-footer">
            <div class="form-inline">
              <button type="button" class="btn btn-primary"
                      (click)="verDetallePedido(pedido.id_pedido)">Ver
              </button>
              <button type="button" class="btn btn-danger"
                      [disabled]="pedido.estado === 'PREPARADO' || pedido.estado === 'COMPLETO'"
                      (click)="detelePedido(pedido.id_pedido)">Cancelar
              </button>
              <button type="button" class="btn btn-success" [disabled]="pedido.estado !== 'PREPARADO'"
                      (click)="finalizarPedido(pedido)">Entregado
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
